<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-button routerLink='/'><h2>{{title}}</h2></button>
		<span class="toolbar-spacer"></span>
		<!--<button mat-icon-button [matMenuTriggerFor]="cart" *ngIf="this.loginService.loggedIn()">
			<mat-icon class="icon-spacing">shopping_cart</mat-icon>
		</button>-->
		<button mat-icon-button id="userBtn" [matMenuTriggerFor]="menu">
			<mat-icon class="icon-spacing">account_circle</mat-icon>
		</button>
		<!--<mat-menu #cart="matMenu">
			<div class="flex-col" >
				<mat-list>
					<h3 mat-subheader>Cart</h3>
					<mat-list-item *ngFor="let item of this.checkoutService.getBooks()">{{ item.title }}</mat-list-item>
				</mat-list>
			</div>
			<div class="flex-col">
				<a mat-raised-button class="menu-button" routerLink='/checkout'>Checkout</a>
			</div>
		</mat-menu>-->
		<mat-menu #menu="matMenu">
			<div class="flex-col" *ngIf="this.loginService.loggedIn()">
				<p>Welcome {{ this.loginService.username }}</p>
				<a mat-raised-button (click)="this.loginService.logout()" class="menu-button">Logout</a>
			</div>
			<div class="flex-col" *ngIf="!this.loginService.loggedIn()">
				<a mat-raised-button class="menu-button" routerLink='/login'>Login</a>
				<a mat-raised-button class="menu-button" routerLink='/register'>Register</a>
			</div>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav mode="side"></mat-sidenav>
	<mat-sidenav-content class="content">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>


